*{
    margin: 0;
    padding: 0;
}
body{
    margin: 15px;
}
.table{
    margin-top: 10px;
    border-collapse: collapse;
}
.table tr td, th{
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}
.table th{
    background: #90ee90;
}